<nav style="z-index: 1;" class="navbar navbar-expand-lg position-fixed w-100 bg-light  ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <i class="fa-solid fa-cart-flatbed fa-beat-fade"></i>
      <span class="text-primary fw-bolder ms-2 fs-4">DropCart</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <input style="width: 400px;" class="form-control me-2" type="search" placeholder="Search Products Here!!!" aria-label="Search">
        </li>
        
        <li class="nav-item dropdown">
          <a routerLink="/user/login" class="btn "><i class="fa-solid fa-user me-2"></i> Login</a>
        </li>
        <li class="nav-item ms-lg-2">
          <a routerLink="/wishlist" class=" btn btn-outline-dark" > <i class="fa-solid fa-heart me-2 text-danger"></i> Wishlist
              <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
          </a>
        </li>
        <li class="nav-item ms-lg-2">
          <a routerLink="/cart" class=" btn btn-outline-dark" ><i class="fa-solid fa-cart-shopping me-2"></i>Cart
              <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
          </a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>